sample audios/\[Ambient] #3 - Aphex Twin.wav
sample audios/\[Ambient] An Ending (Ascent) - Brian Eno.wav
sample audios/\[Blues] Cross Road Blues - Robert Johnson.wav
sample audios/\[Blues] The Thrill is Gone - B.B. King.wav
sample audios/\[Classical] 12 Études, Op. 25, No. 11 in A Minor Winter Wind - Frédéric Chopin.wav
sample audios/\[Classical] Serenade for Strings, Op. 48, II. Waltz. Moderato - Pyotr Ilyich Tchaikovsky.wav
sample audios/\[Country] I Walk the Line - Johnny Cash.wav
sample audios/\[Country] Jolene - Dolly Parton.wav
sample audios/\[Dance] Lose Control - Meduza.wav
sample audios/\[Dance] One More Time - Daft Punk.wav
sample audios/\[Easy Listening] Can't Help Falling in Love - Elvis Presley.wav
sample audios/\[Easy Listening] Perfect - Ed Sheeran.wav
sample audios/\[Electronic] Bangarang - Skrillex.wav
sample audios/\[Electronic] Strobe - Deadmau5.wav
sample audios/\[Folk] Fast Car - Tracy Chapman.wav
sample audios/\[Folk] The Times They Are A-Changin' - Bob Dylan.wav
sample audios/\[Hip-hop] Money Trees - Kendrick Lamar.wav
sample audios/\[Hip-hop] ss - Ken Carson.wav
sample audios/\[Industrial & Noise] The Beautiful People - Marilyn Manson.wav
sample audios/\[Industrial & Noise] The Downward Spiral - Nine Inch Nails.wav
sample audios/\[Jazz] Easy Lovers - Piero Piccioni.wav
sample audios/\[Jazz] Polka Dots and Moonbeams - Chet Baker.wav
sample audios/\[Metal] Master of Puppets - Metallica.wav
sample audios/\[Metal] Raining Blood - Slayer.wav
sample audios/\[New Age] Only Time - Enya.wav
sample audios/\[New Age] She Trails Flowers - Neutron 9000.wav
sample audios/\[Pop] Payphone - Maroon 5.wav
sample audios/\[Pop] yes, and? - Ariana Grande.wav
sample audios/\[Psychedelia] Lucy in the Sky with Diamonds - The Beatles.wav
sample audios/\[Psychedelia] My Fun - Suki Waterhouse.wav
sample audios/\[Punk] I Write Sins Not Tragedies - Panic! At The Disco.wav
sample audios/\[Punk] King For A Day - Pierce The Veil.wav
sample audios/\[R&B] Can't Let Go - Amerie.wav
sample audios/\[R&B] Snooze - SZA.wav
sample audios/\[Reggae] Praise Jah In The Moonlight - YG Marley.wav
sample audios/\[Reggae] Three Little Birds - Bob Marley & The Wailers.wav
sample audios/\[Regional - Afro] OZEBA - Rema.wav
sample audios/\[Regional - Afro] Ye - Burna Boy.wav
sample audios/\[Regional - Bollywood] Kala Chashma - Prem & Hardeep.wav
sample audios/\[Regional - Bollywood] Tu Meri - Vishal Dadlani.wav
sample audios/\[Regional - K-Pop] Michyeo - Lee Jung Hyun.wav
sample audios/\[Regional - K-Pop] Super Shy - NewJeans.wav
sample audios/\[Regional - Reggaeton] Gasolina - Daddy Yankee.wav
sample audios/\[Regional - Reggaeton] Me Porto Bonito - Bad Bunny.wav
sample audios/\[Regional - Tamil Kuthu] Danga Maari Oodhari - Harris Jayaraj.wav
sample audios/\[Regional - Tamil Kuthu] Naakka Mukka - Vijay Antony.wav
sample audios/\[Rock] Don't Stop Me Now - Queen.wav
sample audios/\[Rock] Stairway to Heaven - Led Zeppelin.wav
